<div class="home">
    <div class="home-slider">
    <div class="skitter skitter-large h-100">
        <ul>
            <li>
                <a href="#swapBarsBack"><img src="assets/images/11.jpeg" class="swapBarsBack" /></a>
                <div class="label_text"><p></p></div>
              </li>
           
          <li>
            <a href="#swapBlocks"><img src="assets/images/04.jpg" class="swapBlocks" /></a>
            <div class="label_text"><p></p></div>
          </li>
          <li>
            <a href="#cut"><img src="assets/images/07.jpeg" class="cut" /></a>
            <div class="label_text"><p></p></div>
          </li>
         
          <li>
            <a href="#swapBlocks"><img src="assets/images/16.jpeg" class="swapBlocks" /></a>
            <div class="label_text"><p></p></div>
          </li>
          <li>
            <a href="#swapBlocks"><img src="assets/images/08.jpg" class="swapBlocks" /></a>
            <div class="label_text"><p></p></div>
          </li>
          
        </ul>
      </div>
      <div class="para">
          <!-- <h4>Leading Construction</h4> -->
          <div class="">
          <div id="typed-strings">
            <p>Leading <strong>Architecture</strong> unique.</p>
            <p>them for <em>any</em> type of business.</p>
          </div>
          <span id="typed"></span>
        </div>
      </div>
      
    </div>
</div>