.update{margin-left: 19%;margin-top: -16%;}
.update-container{
    background-color: rgb(12, 12, 12);
    border-bottom-left-radius: 70px;
    width: 95%;
    padding: 77px;
    padding-bottom: 80px !important;
}
.update-form{
    background-color: white;
    padding: 79px;
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 95px;
    width: 70%;
    border-radius: 2px;
    border-bottom-left-radius: 70px;

}
.input-field{border-bottom: 1px solid gray;}
input{outline: none;}
.btn{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    outline: none;
}