<div class="update">
    <div class="update-container">
          <div class="update-form">
              <form [formGroup]='contactform'  (ngSubmit)="updateTutorial()">
                  <h5>Update Data</h5>
                  <div class="row">
                  <div class="input-field col-md-4 mt-5">
                      <input type="name" class="w-100 rounded border-0 p-2" placeholder="Enter Name" formControlName='name' [(ngModel)]='newuser.name' required name="name">
                  </div>
                  <div class="input-field col-md-4 mt-5 ml-4">
                      <input type="email" class="w-100 rounded border-0 p-2" placeholder="Enter Email" formControlName='email' [(ngModel)]='newuser.email' required name="email">
                  </div>
              </div>
              <div class="row mt-4 mb-4" >
                  <div class="input-field col-md-4">
                      <input type="password" class="w-100 rounded border-0 p-2" placeholder="password" formControlName='pass' [(ngModel)]='newuser.password' required name="pass">
                  </div>
                  <div class="input-field col-md-4 ml-4">
                      <input type="password" class="w-100 rounded border-0 p-2" placeholder="Confirm password" formControlName='conpass' [(ngModel)]='newuser.conpass' required name="conpass">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <a><button class="btn" [disabled]='contactform.invalid' type="submit">Update</button></a>
                      </div>
      
              </div>
              </form>
  
  
          </div>
    </div>
  </div>