.dashboard{
    // margin-top: 10%;
    margin-left: 11%;
    width: 15%;
}
ul li{
    margin-top: 8%;
    font-size: 20px;
    cursor: pointer;
}
.act{
    text-decoration: none;
    background-color:white;
    color:black !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom-left-radius: 30px;
}
ul li a{text-decoration: none;color: white;}
// .act:after {
//     content: "";
//     position: absolute;
//     border-top: 59px solid black;
//     border-left: 16px solid transparent;
//     border-top: none;
//     bottom: 310px;
//     width: 100px;
//     left: 156px;
//     padding: 24px;
//     transform: rotate(-90deg);
//     background-color: white;
// }
