<div class="nav">
    <div class="container">
        <div class="row">
            <div class="logo col-md-1 h-15">
               <img src="assets/images/logo5.png" class="w-100 h-100">
            </div>
            <div class="icon col-md-11 text-light d-flex">
                <ul class="list-unstyled">
                    <li><i class="fa fa-facebook" aria-hidden="true"></i>
                    </li>
                    <li><i class="fa fa-twitter ml-3 mr-3" aria-hidden="true"></i>
                    </li>
                    <li><i class="fa fa-instagram mr-3" aria-hidden="true"></i>
                    </li>
                   
                    <li><i class="fa fa-yahoo mr-3" aria-hidden="true"></i>
                    </li>
                    <li><i class="fa fa-search" aria-hidden="true"></i>
                    </li>
                       <div class="clearFix"></div>
                </ul>
            </div>
        </div>

    </div>
</div>