<div class="contact">
<div class="contact-container">
<div class="header">
    <h3 class="">Contact Us</h3>
    <p>Home / Contact Us</p>
</div>
<div class="form-container">
    <h2 class="text-light mt-5">Let's create something together!</h2>
    
        <form>
            <div class="row">
            <div class="col-md-6 mt-5">
                <label class="text-muted">Enter Name</label><br>
                <input type="name" class="w-100 rounded border-0 p-2" ngModel='contact.name'>
            </div>
            <div class="col-md-6 mt-5">
                <label class="text-muted">Enter Email</label><br>
                <input type="email" class="w-100 rounded border-0 p-2">
            </div>
        </div>
        <div class="row mt-4 mb-4" >
            <div class="col-md-6">
                <label class="text-muted">Subject</label><br>
                <input type="name" class="w-100 rounded border-0 p-2">
            </div>
            <div class="col-md-6">
                <label class="text-muted">Service Desired</label><br>
                <input type="email" class="w-100 rounded border-0 p-2" placeholder="Web Design">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <label class="text-muted">Your Message</label><br>
                <textarea class="w-100 rounded border-0 p-5"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="p-2 mt-3">Send Email</button>
            </div>

        </div>
        </form>

</div>




</div>
</div>